{% extends "base.html" %} {% block content %}
<div class="container">
  <h2 class="text-center text-danger fw-bold pt-3">About Us</h2>
  <h2 class="text-center">
    Welcome to
    <span class="fw-bold"
      ><span class="text-danger">P</span>rime<span class="text-danger">P</span
      >icks</span
    >!
  </h2>
  <p class="text-center fs-5">
    At
    <span class="fw-bold"
      ><span class="text-danger">P</span>rime<span class="text-danger">P</span
      >icks</span
    >, we're more than just an online store – we're a community of like-minded
    individuals who value quality, convenience, and exceptional customer
    service. Our journey began in 2020, with a simple goal: to bring you the
    best products from around the world, right to your doorstep.
  </p>
  <h2>Our Mission</h2>
  <p>
    Our mission is to create a seamless shopping experience that combines the
    ease of online shopping with the trust and reliability of your favorite
    local store. We are dedicated to offering a curated selection of
    high-quality products that cater to your needs and preferences.
  </p>
  <h2>Why Shop With Us?</h2>
  <p>
    <span class="fw-bold"> Quality Products:</span> We believe in offering only
    the best. Each product in our store is carefully selected for its quality,
    durability, and style.
    <br />
    <span class="fw-bold">Competitive Prices:</span> Enjoy top-notch products
    without breaking the bank. We strive to provide competitive pricing on all
    our items.
    <br />
    <span class="fw-bold">Exceptional Customer Service:</span> Our customers are
    at the heart of everything we do. Our dedicated support team is always here
    to help with any questions or concerns.
    <br />
    <span class="fw-bold">Fast and Reliable Shipping:</span> Get your orders
    delivered swiftly and securely, with tracking options to keep you updated
    every step of the way.
  </p>

  <h2>Our Story</h2>
  <p>
    Founded by <span class="fw-bold">Thalput Group</span> ,
    <span class="fw-bold"
      ><span class="text-danger">P</span>rime<span class="text-danger">P</span
      >icks</span
    >
    started as a small business with a big vision.
    <span class="fw-bold">Thalput Group</span> saw an opportunity to create a
    unique online shopping experience that prioritized customer satisfaction
    above all else. Over the years, we have grown significantly, expanding our
    product range and refining our services, but our core values remain
    unchanged.
  </p>
  <h2>What We Offer</h2>
  <p>
    From the latest fashion trends to innovative tech gadgets, home essentials
    to unique gift ideas, we have something for everyone. Our diverse product
    categories include:
  </p>
  <ul>
    <li>Fashion & Accessories</li>
    <li>Electronics & Gadgets</li>
    <li>Home & Kitchen</li>
    <li>Health & Beauty</li>
    <li>Sports & Outdoors</li>
  </ul>
</div>
{% endblock %}
