{% extends "base.html" %} {% block content %}
<div class="container">
  <h2 class="text-center text-danger fw-bold pt-3">Our Services</h2>
  <p class="text-center fs-5">
    At
    <span class="fw-bold"
      ><span class="text-danger">P</span>rime<span class="text-danger">P</span
      >icks</span
    >, we are committed to providing exceptional services that make your
    shopping experience smooth and enjoyable. Here’s how we cater to your needs:
  </p>
  <h5>1. Personalized Shopping Assistance</h5>
  <p>
    Our dedicated customer service team is here to help you find exactly what
    you need. Whether you’re looking for product recommendations, size guides,
    or gift ideas, our knowledgeable staff is just a click or call away
  </p>
  <h5>2. Fast and Reliable Shipping</h5>
  <p>
    We understand the excitement of receiving your order promptly. That's why we
    offer fast and reliable shipping options to ensure your products arrive on
    time. Track your order every step of the way with our easy-to-use tracking
    service.
  </p>
  <h5>3. Hassle-Free Returns and Exchanges</h5>
  <p>
    Your satisfaction is our priority. If you're not completely happy with your
    purchase, take advantage of our hassle-free returns and exchanges. Our
    simple return process ensures you can shop with confidence.
  </p>
  <h5>4. Secure Cash on Delivery</h5>
  <p>
    We offer the convenience and security of cash on delivery for all your
    purchases. Pay only when your order arrives at your doorstep, ensuring a
    safe and worry-free shopping experience.
  </p>
  <h5>5. Easy Payment at Your Doorstep</h5>
  <p>
    Forget the hassle of online payments. With our cash on delivery service, you
    can simply pay in cash when your order is delivered to your home. It’s
    simple, straightforward, and secure.
  </p>
  <h5>6. 24/7 Customer Support</h5>
  <p>
    Our customer support team is available around the clock to assist you with
    any inquiries or issues. Contact us anytime via email, phone, or live chat
    for prompt and friendly service.
  </p>
  <hr />
  <h5>Contact Us</h5>
  <p>
    If you have any questions about our services or need further assistance,
    please reach out to us at:
  </p>
  <ul>
    <li class="fw-bold">Email: PrimePicks@example.com</li>
    <li class="fw-bold">Phone: +93455038063</li>
    <li class="fw-bold">Live Chat: Available 24/7 on our website</li>
  </ul>
  <p>
    Thank you for choosing
    <span class="fw-bold"
      ><span class="text-danger">P</span>rime<span class="text-danger">P</span
      >icks</span
    >. We are committed to providing you with the best online shopping
    experience possible.
  </p>
</div>
{% endblock %}
